<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" /> <!-- 방해금지 모드를 구현하기 위한 -->
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/sdci_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FF_SDCI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Dep2_boards"
            android:exported="false"
            android:label="@string/title_activity_dep2_boards"
            android:theme="@style/Theme.FF_SDCI" />
        <activity
            android:name=".membership_idANDpassword"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".join_membership"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep2.Dep2_Mypage"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dep2_Alarm"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".NaviActivity"
            android:exported="false" />
        <activity
            android:name=".Dep1_Home"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dep4_write"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep4_search_car"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep4_other_post"
            android:exported="false" />
        <activity
            android:name=".Dep4_new_vote"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep4_my_post"
            android:exported="false" />
        <activity
            android:name=".Dep4_add_car"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep3_secession"
            android:exported="false" />
        <activity
            android:name=".Dep2.Dep2_menu"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.example.fourflower.scrap"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep2.Dep2_Chatting"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep3_popularboard"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.example.fourflower.your_wrote"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Splash2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.example.fourflower.ProfillSet"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep3_ongoingvote"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep3_notice"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep_disturbtime2ut"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dep3_disturbtime"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep3_CustomerService"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep3.Dep3_chatiing"
            android:exported="false" />
        <activity
            android:name=".Dep3_alarm"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />

        <activity android:name=".board.Dep3_Noticeboard"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Dep3_1on1ask"
            android:exported="false" />
        <activity
            android:name=".notice_board"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Dep3_mycar"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>